body {
    font-family: 'Open Sans';
    font-size: 0.9em;
    text-align: center;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom right, #7cdfef, #6bcede);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    font-family: 'Satisfy';
    font-size: 4em;
    margin: 20px;
    text-shadow:  3px 3px 0 rgba(0,0,0,0.2);
    -webkit-transform: rotate(-7deg);
}

button:focus {
    outline:none;
}


.hidden {
    display: none;
}

.show {
    display: inline!;
}

.btn-join,
.event-title,
.inline-edit-title,
.event-title.joined .inline-edit-title {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    min-height: 100%;
}

.no-events {
    font-size: 1.2em;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    font-style: italic;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    margin: 20px;
}

.create-event {
    margin-bottom: 25px;   
}

.btn-create-event {
    padding: 15px;
    border-radius: 30px;
    background-color: #ee9977;
    color: #fff;
    border: 3px solid #fff;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-size: 1em;
}

.btn-create-event:hover {
    background-color: #ffaa88;
    cursor: pointer;
}

.event {
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    font-size: 0.9em;
    text-align: left;
    border-radius: 25px;
}

.event-title {
    background-color: #38adbd;
    font-weight: 700;
    font-size: 1.5em;
    border-bottom: 5px solid rgba(0,0,0,0.1);
    color: #fff;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.event-title.joined {
    background-color: #fff;
    color: #38adbd;
}

.event-description {
    padding: 15px;
    color: #555;
}

.event-comments {
    border-top: 1px dotted rgba(0,0,0,0.1);
    padding: 0px;
    color: #555;
}

.comments-list {
    padding: 0;
}

.comment {
    list-style-type: none;
    font-style: italic;
    padding: 10px;
    display: flex;
    align-items: center;
}

.comment:nth-child(odd) {
    background: rgba(255,255,255,0.2);
}

.avatar {
    width: 23px;
    height: 23px;
    padding: 5px;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    margin-right: 5px;
}

.comment-posted {
    flex-grow: 1;
}

.time {
    color: #aaa;
    margin-right: 5px;
}

.author {
    font-style: normal;
    font-weight: 700;
    margin-right: 5px;
    color: #aaa;
}

.input-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.comment-field {
    background-color: rgba(255,255,255,0.7);
    border: none;
    padding: 5px;
    height: 20px;
    border-radius: 20px;
}

.comment-field:focus {
    outline: none;
}

.comment-author {
    margin-right: 15px;
}

.comment-text {
    flex:1;
    padding: 10px;
    font-size: 1.1em;
    color: #555;
}

.title-container {
    flex-grow: 1;
}

.inline-edit-title {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    width: 100%;
    font-size: 1em;
    font-family: 'Open Sans';
    border:none;
    outline:none;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}
.event-title.joined .inline-edit-title {
    background-color: transparent;
    color: #38adbd;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Open Sans';
    border:none;
    outline:none;
    border-bottom: 2px solid #38adbd;
}

.inline-edit-description {
    font-family: 'Open Sans';
    background-color: transparent;
    font-size: 1em;
    border:none;
    outline:none;
    border-bottom: 3px solid rgba(255,255,255,0.3);
    width: 100%;
}

.inline-edit-exp {
    width: 20px;
    padding-right: 5px;
    color: rgba(0,0,0,0.3);
}

.inline-edit-exp-active{
    width: 20px;
    background-color: transparent;
    color: rgba(0,0,0,0.3);
    font-weight: 700;
    font-size: 1em;
    font-family: 'Open Sans';
    border:none;
    outline:none;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}

.exp-container {
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: rgba(0,0,0,0.3);
    font-size: 0.6em;
}

.icon {
    padding-right: 5px;
    color: rgba(0,0,0,0.1);
}

.buttons {
    float:right;
}

.buttons-container {
    flex-shrink: 0;
} 

.btn-join {
    float: right;
    padding: 10px 12px;
    border-radius: 20px;
    border:none;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 700;
}

.btn-join:hover {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.btn-join.joined {
    background-color: #eee;
    color: #555;
}

.btn-join.joined:hover {
    background-color: rgba(0,0,0,0.1);
}

.btn-cancel {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    border-radius: 20px;
    border:none;
    background-color: #ee9977;
    color: #fff;
    font-size: 0.9em;
}

.btn-cancel:hover {
    background-color: #ffaa88;
    cursor: pointer;
}

.btn-confirm {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border:none;
    font-size: 0.9em;
    background-color: #77ee77;
    color: #fff;
}

.btn-confirm:hover {
    background-color: #88ff88;
    cursor: pointer;
}

@media (max-width:480px) {
    .input-container {
        flex-wrap: wrap;
    }

    .comment-field {
        width: 100%;
    }

    .comment-author {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
